body {
    background: #ffffff;
    padding: 30px;
}

/* CONTAINER */
.container {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 800px;
    margin: auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

/* TÍTULO PRINCIPAL */
.container h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 28px;
    font-weight: bold;
    color: #ac6a15;
    letter-spacing: 1px;
}

/* SUBTÍTULOS */
.h2 {
    margin-top: 35px;
    margin-bottom: 15px;
    font-size: 22px;
    text-align: center;
    color: #333;
}

/* FORMULÁRIO */
.form .group {
    margin-bottom: 15px;
}


.group label {
    font-weight: bold;
    color: #444;
    font-size: 14px;
}

.group input {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: 0.3s;
    font-size: 15px;
}

.group input:focus {
    border-color: #4c6ef5;
    box-shadow: 0px 0px 5px rgba(76,110,245,0.4);
    outline: none;
}

button {

    width: 100%;
    margin-top: 10px;
    padding: 12px;
    background: #9e780f;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

.group button:hover {
    background: #364fc7;
}

/* TEXTO DOS CONTATOS */
.contato-nome {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.contato-email {
    font-size: 14px;
    color: #555;
}

/* ITEM DE EXEMPLO */
.item-exemplo {
    opacity: 0.6;
    font-style: italic;
}